<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app1">

			<!--v-bind操作的是标签属性 -->
			<a v-bind:href="ahref">百度一下</a>
			<!-- 简写方式：属性名。在编程中有专业说法叫语法糖 -->
			<!-- 通过Vue的指令，很方便的由一个变量去控制标签的状态 -->
			<input type="checkbox" checked :disabled="isDisabled" />
			<!-- 使用js和jQuery来控制CheckBox的选中 -->
			<input type="checkbox" name="box">js</input>
			<!--直接不渲染，页面根本看不到这个，隐藏有两种状态，一种看不到一种不存在  -->
			<input type="checkbox" id="checkbox01">jQuery</input>
			<hr>
			<p v-if="seen">现在你可以看见我了</p>
			<!-- 本质是display=none -->
			<h1 v-show="ok">1111</h1>
			<div v-if="type === 'A'">
				A
			</div>
			<div v-else-if="type === 'B'">
				B
			</div>
			<div v-else-if="type === 'C'">
				C
			</div>
			<div v-else>
				Not A/B/C
			</div>
			<ul v-for="items in book">
				<li></li>
				<ul>
		</div>
		
		<hr>
		<div class="" id="app2">
			<table border="" cellspacing="" cellpadding="">
			
				<thead>
					<tr>
						<th></th>
						<th>书籍名称</th>
						<th>出版日期</th>
						<th>价格</th>
						<th>购买数量</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(v,index) in book.list">
						<td>{{v.id}}</td>
						<td>{{v.书籍名称}}</td>
						<td>{{v.出版日期}}</td>
						<td>{{v.价格}}</td>
						<td>
							<button class="btn btn-default" @click="reduce(index)">-</button>
							{{v.购买数量}}
							<button class="btn btn-default" @click="add(index)">+</button>
							</td>
							<td><button class="btn btn-default" >移除</button></td>
				</tbody>
			</table>
			<h1 class="text-left">
								金额总计:￥300.03
							</h1>
		</div>
		<hr>
		<p2>key管理可复用元素：</p2>
		<div id="no-key-example" class="demo">
			<div>
				<template v-if="loginType === 'username'">
					<label>Username</label>
					<input placeholder="Enter your username">
				</template>
				<template v-else="">
					<label>Email</label>
					<input placeholder="Enter your email address">
				</template>
			</div>
			<button @click="toggleLoginType">Toggle login type</button>
			<hr>
			
		</div>
		<script type="text/javascript">
			<!-- 使用js来控制CheckBox的选中 -->
			var el = document.getElementById('box')
				el.checked = true
			<!-- 使用jQuery来控制CheckBox的选中 -->
			if ($('#checkbox01').prop('checked')) {
				$('#checkbox01').prop('checked', false);
			} else {
				$('#checkbox01').prop('checked', true);
			}
		</script>
		<script type="text/javascript">
			var app = new Vue({
				el: '#app1',
				data: {
					ahref: 'http://www.baidu.com',
					isDisabled: true,
					seen: false,
					ok: false,
					book:{
						list:[
							{
							出版日期:'2010-10',
							价格:'60.00',
							购买数量:'1',
							书籍名称:'java从入门到放弃'
						},{
							出版日期:'2012-10',
							价格:'90.00',
							购买数量:'1',
							书籍名称:'PHP从入门到放弃'
						},
						{
							出版日期:'2013-10',
							价格:'80.01',
							购买数量:'1',
							书籍名称:'Python从入门到放弃'
						},
						{
							出版日期:'2011-10',
							价格:'70.02',
							购买数量:'1',
							书籍名称:'什么都从入门到放弃'
						}
						]
					}
				}
			})
			var app1 = new Vue({
				el: '#no-key-example',
				data: {
					loginType: 'username'
				},
				methods: {
					toggleLoginType: function() {
						return this.loginType = this.loginType === 'username' ? 'email' : 'username'
					}
				}
			})
			var app = new Vue({
				el: '#app2',
				data: {
					ahref: 'http://www.baidu.com',
					isDisabled: true,
					seen: false,
					ok: false,
					book: {
						list: [{
								id: '1',
								出版日期: '2010-10',
								价格: '60.00',
								购买数量: '1',
								书籍名称: 'java从入门到放弃'
							}, {
								id: '1',
								出版日期: '2012-10',
								价格: '90.00',
								购买数量: '1',
								书籍名称: 'PHP从入门到放弃'
							},
							{
								id: '1',
								出版日期: '2013-10',
								价格: '80.01',
								购买数量: '1',
								书籍名称: 'Python从入门到放弃'
							},
							{
								id: '1',
								出版日期: '2011-10',
								价格: '70.02',
								购买数量: '1',
								书籍名称: '什么都从入门到放弃'
							}
						]
			
					},
					methods:{
						add:function(index){
												this.list[index].购买数量++
												 
											},
											reduce:function(index){
																	if(this.list[index].购买数量<=0){
																		this.list[index].购买数量 = 0
																	}else {
																		this.list[index].购买数量--
																	}
																	
																},
					},
					
			
				}
			})
		</script>

	</body>
</html>
